@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

<div class="fondo" style="
    width: 955px;
    height: auto;
">






    <div id="contenedor" style="
    margin-left: 0px;
    margin-right: 4px;
    width: 953px;
    height: 607px;
    margin-top: 0px;
">
        <ul style="
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 4px;
    height: 607px;
">


            <li> <img src="~/Images/Banner1.jpg" style="width: 955px;height: 605px;" />  </li>
            <li> <img src="~/Images/banner2.jpg" style="width: 950px; height:713px;" />  </li>
            <li> <img src="~/Images/Banner3.png" style="width: 955px;height: 620px;" />  </li>


        </ul>
    </div>



    <center style="border-top-width:40px;padding-top:0px;">

        <h1 style="margin-bottom: 40px;">Nosotros</h1>



    </center>

    <center style="border-top-width:40px;padding-top:0px;">
        <h2 style="font-family:Helvetica;">La Hormiga</h2>
        <p style="
    margin-left: 15px;
    margin-right: 15px;
">Somos un negocio familiar que desde hace 12 años se dedica a confeccionar uniformes. Creemos que el trabajo como una manera de dignificar la vida, somos personas con gran espíritu y confianza en lo que hacen, queremos ofrecer a nuestros clientes una experiencia de venta que sea generosa. Contamos con todo lo necesario para surtir las necesidades de una empresa o negocio,  para que logre una imagen corporativa, unida y con estilo.</p>
    </center>

    <center style="border-top-width:40px;padding-top:0px;">
        <h2 style="font-family:Helvetica;">MISIÓN</h2>
        <p style="
    margin-left: 15px;
    margin-right: 15px;
">Producir y distribuir prendas de calidad con amplia garantía de acuerdo a condiciones específicas en el trabajo como en instalaciones, temperatura ambiente, flamabilidad y estática entre otras. A partir de estas condiciones sugerimos el tipo de tela y confección más adecuada para su empresa.</p>
    </center>
    <center style="border-top-width:40px;padding-top:0px;">
        <h2 style="font-family:Helvetica;">VISIÓN</h2>
        <p style="
    margin-left: 15px;
    margin-right: 15px;
">Consolidarnos como una empresa líder a través de la imagen, seguridad y confort en los diseños de nuestros productos para lograr la total satisfacción de nuestros clientes.</p>
    </center>
    <center style="border-top-width:40px;padding-top:0px;">
        <h2 style="font-family:Helvetica;">VALORES</h2>
        <p style="margin-top: 0px;margin-bottom: 0px;">•Amabilidad</p>
        <p style="margin-top: 0px;margin-bottom: 0px;">•Confianza</p>
        <p style="margin-top: 0px;margin-bottom: 0px;">•Atención</p>
        <p style="margin-top: 0px;margin-bottom: 0px;">•Compromiso</p>
        <p style="margin-top: 0px;margin-bottom: 0px;">•Versatilidad</p>
        <p style="margin-top: 0px;margin-bottom: 0px;">•Funcionalidad</p>

    </center>


    <center style="border-top-width:40px;padding-top:0px;">

        <h1 style="margin-bottom: 15px;">SERVICIOS</h1>



    </center>


    <div class="servicio" style="margin-right: 10px;margin-left: 0px;width: 970px;height: auto;margin-top: 0px;">



        <div class="caja" style="width: 450px;height: 440px;margin-left: 11px;margin-right: 11px;margin-bottom: 21px;">
            <div class="imgcaja">

            </div>
            <div class="detalles">
                <div class="contenido">
                    <center>
                        <img src="~/Images/maquina-de-coser.png" width="5" height="50" style="width: 75px;height: 75px;margin-top: 20px;" />
                    </center>
                    <h2 style="padding-top: 8px;"> BORDADO </h2>
                    <center>
                        <p style="padding-top: 8px;">

                            El bordado consiste en la ornamentación con hilo, regularmente en superficies flexibles como tela. Son utilizadas para hacer diferentes tipos de acabados en gorras, calzado, bolsas, ropa, entre otros. Las bordadoras son utilizadas para realizar tres tipos de puntadas: pespunte o cordón, festón, campo, relleno o tatami.
                        </p>

                    </center>

                </div>
            </div>
        </div>


        <div class="caja" style="width: 450px;height: 440px;margin-left: 11px;margin-right: 11px;margin-bottom: 21px;">
            <div class="imgcaja">

            </div>
            <div class="detalles">
                <div class="contenido">
                    <center>
                        <img src="~/Images/ploter.png" width="5" height="50" style="width: 75px;height: 75px;margin-top: 20px;" />
                    </center>
                    <h2 style="padding-top: 8px;">SERIGRAFÍA </h2>
                    <center>
                        <p style="padding-top: 8px;">

                            Es una técnica de impresión empleada en el método de reproducción de documentos e imágenes sobre cualquier material, y consiste en transferir una tinta a través de una malla tensada en un marco. El paso de la tinta se bloquea en las áreas donde no habrá imagen mediante una emulsión o barniz, quedando libre la zona donde pasará la tinta.
                        </p>

                    </center>

                </div>
            </div>
        </div>

        <div class="caja" style="width: 450px;height: 440px;margin-left: 11px;margin-right: 11px;margin-bottom: 21px;">
            <div class="imgcaja">

            </div>
            <div class="detalles">
                <div class="contenido">
                    <center>
                        <img src="~/Images/camisa (1).png" width="5" height="50" style="width: 75px;height: 75px;margin-top: 20px;" />
                    </center>
                    <h2 style="padding-top: 8px;"> TRANSFER </h2>
                    <center>
                        <p style="padding-top: 8px;">

                            Es la técnica mediante la cual el grafismo se imprime por serigrafía a un soporte de papel llamado “transfer” por sus propiedades de transferir la tinta a otro material. Posteriormente la impresión del transfer se aplica en el artículo mediante presión y calor.
                        </p>

                    </center>

                </div>
            </div>
        </div>

        <div class="caja" style="width: 450px;height: 440px;margin-left: 11px;margin-right: 11px;margin-bottom: 21px;">
            <div class="imgcaja">

            </div>
            <div class="detalles">
                <div class="contenido">
                    <center>
                        <img src="~/Images/impresora.png" width="5" height="50" style="width: 75px;height: 75px;margin-top: 20px;" />
                    </center>
                    <h2 style="padding-top: 8px;"> APLICACIÓN VINIL </h2>
                    <center>
                        <p style="padding-top: 8px;">

                            Es la técnica mediante la cual el grafismo se imprime por serigrafia base a tinta. Posteriormente la impresión del transfer se aplica en el articulo mediante presión de calor.
                        </p>

                    </center>

                </div>
            </div>
        </div>









    </div>











    <center style="border-top-width:40px;padding-top:0px;">

        <h1>Catalogos</h1>

    </center>

    <div class="container">


        <div class="box">
            <div class="imgbox">
                <img src="~/Images/tie-690084_640 (1).jpg" />
            </div>
            <div class="details" style="
    width: 300px;
    height: 30px;
    padding-top: 0px;
    border-top-width: 100px;
    margin-top: 213px;
    border-left-width: 50px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;">
                <div class="content" style="
    padding-left: 15px;
    padding-bottom: 25px;
    padding-right: 0px;
    padding-top: 5px;
">
                    <h2 style="
    width: 268px; color: #ff686b;
    height: 2px;
">
                        Empresariales
                    </h2> <h2 style="
    width: 268px;
">
                        Empresariales
                    </h2>

                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgbox">
                <img src="~/Images/helmet-1636348_640.jpg" />
            </div>
            <div class="details" style="
    width: 300px;
    height: 30px;
    padding-top: 0px;
    border-top-width: 100px;
    margin-top: 213px;
    border-left-width: 50px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;">
                <div class="content" style="
    padding-left: 15px;
    padding-bottom: 25px;
    padding-right: 0px;
    padding-top: 5px;
">
                    <h2 style="
    width: 268px; color: #ff686b;
    height: 2px;
">
                        Industriales
                    </h2> <h2 style="
    width: 268px;
">
                        Industriales
                    </h2>

                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgbox">
                <img src="~/Images/soccer-755825_640.jpg" />
            </div>
            <div class="details" style="
    width: 300px;
    height: 30px;
    padding-top: 0px;
    border-top-width: 100px;
    margin-top: 213px;
    border-left-width: 50px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;">
                <div class="content" style="
    padding-left: 15px;
    padding-bottom: 25px;
    padding-right: 0px;
    padding-top: 5px;
">
                    <h2 style="
    width: 268px; color: #ff686b;
    height: 2px;
">
                        Deportivos
                    </h2> <h2 style="
    width: 268px;
">
                        Deportivos
                    </h2>

                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgbox">
                <img src="~/Images/student-4311758_640.jpg" />
            </div>
            <div class="details" style="
    width: 300px;
    height: 30px;
    padding-top: 0px;
    border-top-width: 100px;
    margin-top: 213px;
    border-left-width: 50px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;">
                <div class="content" style="
    padding-left: 15px;
    padding-bottom: 25px;
    padding-right: 0px;
    padding-top: 5px;
">
                    <h2 style="
    width: 268px; color: #ff686b;
    height: 2px;
">
                        Escolares
                    </h2> <h2 style="
    width: 268px;
">
                        Escolares
                    </h2>

                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgbox">
                <img src="~/Images/anesthesia-4677401_640.jpg" />
            </div>
            <div class="details" style="
    width: 300px;
    height: 30px;
    padding-top: 0px;
    border-top-width: 100px;
    margin-top: 213px;
    border-left-width: 50px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;">
                <div class="content" style="
    padding-left: 15px;
    padding-bottom: 25px;
    padding-right: 0px;
    padding-top: 5px;
">
                    <h2 style="
    width: 268px; color: #ff686b;
    height: 2px;
">
                        Hospitales
                    </h2> <h2 style="
    width: 268px;
">
                        Hospitales
                    </h2>

                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgbox">
                <img src="~/Images/outdoor-cafe-705881_640.jpg" />
            </div>
            <div class="details" style="
    width: 300px;
    height: 30px;
    padding-top: 0px;
    border-top-width: 100px;
    margin-top: 213px;
    border-left-width: 50px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;">
                <div class="content" style="
    padding-left: 15px;
    padding-bottom: 25px;
    padding-right: 0px;
    padding-top: 5px;
">
                    <h2 style="
    width: 268px; color: #ff686b;
    height: 2px;
">
                        Hoteles
                    </h2> <h2 style="
    width: 268px;
">
                        Hoteles
                    </h2>

                </div>
            </div>
        </div>
    </div>

    <div class="container">


        <div class="box">
            <div class="imgbox">
                <img src="~/Images/tie-690084_640 (1).jpg" />
            </div>
            <div class="details" style="
    width: 300px;
    height: 30px;
    padding-top: 0px;
    border-top-width: 100px;
    margin-top: 213px;
    border-left-width: 50px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;">
                <div class="content" style="
    padding-left: 15px;
    padding-bottom: 25px;
    padding-right: 0px;
    padding-top: 5px;
">
                    <h2 style="
    width: 268px; color: #ff686b;
    height: 2px;
">
                        POLOS
                    </h2> <h2 style="
    width: 268px;
">
                        POLOS
                    </h2>

                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgbox">
                <img src="~/Images/helmet-1636348_640.jpg" />
            </div>
            <div class="details" style="
    width: 300px;
    height: 30px;
    padding-top: 0px;
    border-top-width: 100px;
    margin-top: 213px;
    border-left-width: 50px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;">
                <div class="content" style="
    padding-left: 15px;
    padding-bottom: 25px;
    padding-right: 0px;
    padding-top: 5px;
">
                    <h2 style="
    width: 268px; color: #ff686b;
    height: 2px;
">
                        CAMISAS
                    </h2> <h2 style="
    width: 268px;
">
                        CAMISAS
                    </h2>

                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgbox">
                <img src="~/Images/soccer-755825_640.jpg" />
            </div>
            <div class="details" style="
    width: 300px;
    height: 30px;
    padding-top: 0px;
    border-top-width: 100px;
    margin-top: 213px;
    border-left-width: 50px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;">
                <div class="content" style="
    padding-left: 15px;
    padding-bottom: 25px;
    padding-right: 0px;
    padding-top: 5px;
">
                    <h2 style="
    width: 268px; color: #ff686b;
    height: 2px;
">
                        SUDADERAS
                    </h2> <h2 style="
    width: 268px;
">
                        SUDADERAS
                    </h2>

                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgbox">
                <img src="~/Images/student-4311758_640.jpg" />
            </div>
            <div class="details" style="
    width: 300px;
    height: 30px;
    padding-top: 0px;
    border-top-width: 100px;
    margin-top: 213px;
    border-left-width: 50px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;">
                <div class="content" style="
    padding-left: 15px;
    padding-bottom: 25px;
    padding-right: 0px;
    padding-top: 5px;
">
                    <h2 style="
    width: 268px; color: #ff686b;
    height: 2px;
">
                        PLAYERAS
                    </h2> <h2 style="
    width: 268px;
">
                        PLAYERAS
                    </h2>

                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgbox">
                <img src="~/Images/anesthesia-4677401_640.jpg" />
            </div>
            <div class="details" style="
    width: 300px;
    height: 30px;
    padding-top: 0px;
    border-top-width: 100px;
    margin-top: 213px;
    border-left-width: 50px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;">
                <div class="content" style="
    padding-left: 15px;
    padding-bottom: 25px;
    padding-right: 0px;
    padding-top: 5px;
">
                    <h2 style="
    width: 268px; color: #ff686b;
    height: 2px;
">
                        PANTALONES
                    </h2> <h2 style="
    width: 268px;
">
                        PANTALONES
                    </h2>

                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgbox">
                <img src="~/Images/outdoor-cafe-705881_640.jpg" />
            </div>
            <div class="details" style="
    width: 300px;
    height: 30px;
    padding-top: 0px;
    border-top-width: 100px;
    margin-top: 213px;
    border-left-width: 50px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;">
                <div class="content" style="
    padding-left: 15px;
    padding-bottom: 25px;
    padding-right: 0px;
    padding-top: 5px;
">
                    <h2 style="
    width: 268px; color: #ff686b;
    height: 2px;
">
                        GORRAS
                    </h2> <h2 style="
    width: 268px;
">
                        GORRAS
                    </h2>

                </div>
            </div>
        </div>
    </div>








</div>
